#Experience{
    margin: auto;
    padding-top: 35px;
    margin-Top: 15%; margin-bottom: 15%; 
    width: 90%; min-width: 500px;
    text-align: center;
}

#ExperienceCardContainer{
    display: flex;
}

#ExperienceCardContainer div{
    border-width: 1px;
    border-color: #d6d6d6;
    border-radius: 20px;
    border-style: solid;
    align-content: center;
    width: 50%;
    height: 230px;
    margin: 10px; padding: 10px;
}

#ExperienceDetailsText{
    margin: auto;
    max-width: 50%;
    min-width: 50%;
}
