#Profile{
    margin: auto;
    margin-Top: 10%; margin-bottom: 10%; 
    width: 50%; min-width: 500px;
    text-align: center;
}

#ProfileCardContainer{
    align-items: center;
    display: flex;
}

#ProfileCardContainer div{
    width: 50%; min-width: 100px;
    margin: 10px; padding: 10px;
}

#ProfileCardContainer img{
    width: 100%; min-width: 200px;
    border-radius: 50%;
}
